@media only screen and (max-width: 426px) {
	body {
		background-color: red;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
}

/*
  From Wesbos CSS Grid Course
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}
