/* @media only screen and (max-width: 426px) {
	.sidebarStyled {
		display: none;
	}

	.horizontalSidebarStyled {
		display: block;
	}

	.wrapper {
		grid-template-areas:
			'main'
			'sidebar';
	}
} */

/* Light Mode */
:root {
	--color-background: white;
	--color-text: #222;
	--color-primary: #164bc5;
}

/* Dark Mode */
:root.dark {
	--color-background: black;
	--color-text: #ddd;
	--color-primary: #0f9640;
}

body.light-mode {
	/* background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease;
	--color-primary: #0f9640; */
}
body.dark-mode {
	/* background-color: #1a1919;
	color: #999; */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
}

/*
  From Wesbos CSS Grid Course
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}
